<h1>test</h1>
<div id="map"></div>
{{parkingSpot.address.unit}}
{{parkingSpot.address.street_number}}
{{parkingSpot.address.street_name}}
{{parkingSpot.address.postal_code}}
${{parkingSpot.lease.price}}